.chatBox {
    max-width: 800px;
    border-radius: 0 30px 0 0;
    height: 100%;
    font-size: 14px;
    background: #cdcd;
    padding: 24px;
}

.messagesBox {
    background: #efef;
    border-radius: 0 30px 0 0;
    flex: 1;
    padding: 24px;
}

.inputBox {
    align-items: center;
    background: #fff;
    padding: 8px 24px;
}

$messageHeight: 30px;

.messageRow {
    display: flex;

    .message {
        background: #fff;
        padding: 8px 16px;
        border-radius: 16px;
        min-height: $messageHeight;
        line-height: $messageHeight;
        width: max-content;
        max-width: calc(100% - 96px);
        text-align: left;
    }

    + .messageRow {
        margin-top: 12px;
    }

    &.outgoing {
        justify-content: right;

        .message {
            background: rgb(238, 242, 255);
        }
    }
}

.input {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    cursor: text;
    text-align: left;
    min-height: $messageHeight;
    max-height: $messageHeight*4;
    line-height: $messageHeight;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    border: 1px solid grey;
    background-color: rgb(238, 242, 255);
    padding: 0 20px;
    border-radius: 6px;

    &:hover {
        border: 1px solid rgb(87, 100, 143);
        background-color: #fff; 
    }

    &:focus-visible {
        border: 1px solid rgb(87, 100, 143);
        background-color: #fff;
        outline: 0px;
    }
}